on init
    # Create the directory for the trace instance during early init
    chmod 666 /sys/kernel/tracing/instances/irq_gia_google
    chmod 666 /sys/kernel/tracing/instances/irq_gia_google/trace
    chown system system /sys/kernel/tracing/instances/irq_gia_google
    chown system system /sys/kernel/tracing/instances/irq_gia_google/trace

    # There are some very high frequency IRQ events happening all the time. Tracing
    # them is not absolute necessity, but a flood of them is noise for more interesting
    # events that we want to capture. All these high frequency IRQs have virq < 11.
    write /sys/kernel/tracing/instances/irq_gia_google/events/irq/filter "irq > 11"

    # Keep the buffer size small. This size is practically enough for debug purpose.
    # Having low size helps because this entire buffer gets dumped in bugreport.
    # Having a large size can impact bugreport size and time it takes to pack/unpack.
    write /sys/kernel/tracing/instances/irq_gia_google/buffer_size_kb 64
