# allow binder connection from client to server
binder_call(hal_gia_client, hal_gia_server)

# allow client to find the service & allow server to register the service
hal_attribute_service(hal_gia, hal_gia_service)

# allow binder communication from server to service_manager
binder_use(hal_gia_server)
